* {
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0;
  width: 100%;
  margin: 0;
}
aside{
    position: absolute;
    top: 49px;
    right: 70px;
}
.menu a.active {
opacity: 1;
    border-radius: 5px;
}